/* General - Start */
body{
    min-height: 1vh;
}
html{
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 7px;
	background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb {
	background: rgb(143, 143, 143);
	border-radius: 50px;
}
.form{
    margin-top: 10px;
}
input {
    display: block;
    padding: 5px 15px;
    width: 200px;
    margin: 5px;
}
.design{
    width: 300px;
}
h1, h2, h3{
    text-align: center;
}
.logo{
    width: 3%;
}
.content-image{
    width: 55%;
}
.text{
    text-align: center;
}
/* Buttons - Start */
.btn-form{
    display: block;
    padding: 10px 15px;
}
.btn-add-block{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px auto;
}
/* Buttons - End/
/* General - End */
/* Header - Start */
header{
    width: 100%;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}
/* Header - End */
/* Hero - Start */
.hero{
    margin-top: 100px;
}
.hero__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.hero__content{
    max-width: 40%;
}
.hero p{
    text-align: center;
}
.hero .btn-hero{
    display: block;
    border-radius: 25px;
    max-width: 150px;
    margin: 5px auto;
    padding: 10px 15px;
}
.hero__image{
    max-width: 50%;
}
/* Hero - End */
/* Landing - Start */
.landing{
    margin-top: 200px;
}
.landing__result{
    margin-top: 80px;
}
/* Landing - End */
/* Footer - Start */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
  }
/* Footer - End */